@model RectPacking.UI.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageId, "Image")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ImageId", String.Empty)
            @Html.ValidationMessageFor(model => model.ImageId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Width)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Width)
            @Html.ValidationMessageFor(model => model.Width)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Height)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Height)
            @Html.ValidationMessageFor(model => model.Height)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StandardName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StandardName)
            @Html.ValidationMessageFor(model => model.StandardName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FreezeTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FreezeTime)
            @Html.ValidationMessageFor(model => model.FreezeTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConcreteTypeId, "ConcreteType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ConcreteTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.ConcreteTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsReady)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsReady)
            @Html.ValidationMessageFor(model => model.IsReady)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
